<div class="game-wrapper">

    <button class="back-btn" (click)="goBack()">
        <i class="bi bi-arrow-left"></i>
    </button>

    <app-difficulty-selector class="mb-2" *ngIf="!gameStarted " (difficultyChanged)="onDifficultyChange($event)">
    </app-difficulty-selector>

    <div class="frame">
        <!-- result screen -->
        <div class="game-screen" *ngIf="!gameStarted && !gameEnded">
            <h2>Level {{ currentLevel.id }} - {{ currentLevel.name }}</h2>
            <p [innerHTML]="getSafeDescription()"></p>



            <br />
            <button class="sparkle-button" (click)="startGame()">▶ Start Game</button>
        </div>

        <!-- game screen -->
        <div class="game-screen" [class.active]="gameStarted" [class.ending]="gameEnded" *ngIf="gameStarted">
            <h3 class="score">Score: {{ levelService.getScore() }}</h3>

            <div class="balloon-container">
                <div class="balloon" *ngFor="let balloon of balloons" [attr.data-id]="balloon.id"
                    [ngStyle]="balloon.style" [class.popped]="balloon.popped" (click)="popBalloon(balloon)">

                    <span *ngIf="currentLevel?.getBalloonBadge(balloon)" class="balloon-badge"
                        [innerHTML]="getSafeHtml(currentLevel.getBalloonBadge?.(balloon))"></span>

                </div>
            </div>
        </div>

        <!-- result screen -->
        <div class="game-screen result-screen" *ngIf="gameEnded">
            <h2>{{ gameResultMessage }}</h2>

            <div class="d-flex justify-content-center gap-3 mt-4">
                <button class="sparkle-button" (click)="restartGame()">
                    <i class="bi bi-arrow-clockwise"></i> Retry
                </button>

                <button *ngIf="canAdvance" class="sparkle-button" (click)="nextLevel()">
                    <i class="bi bi-arrow-right-circle"></i> Next Level
                </button>
            </div>
        </div>
    </div>


</div>