<div class="game-wrapper">

    <button class="back-btn" (click)="goBack()">
        <i class="bi bi-arrow-left"></i>
    </button>

    <app-difficulty-selector class="mb-2" *ngIf="!gameStarted " (difficultyChanged)="onDifficultyChange($event)">
    </app-difficulty-selector>

    <div class="frame">
        <!-- result screen -->
        <div class="game-screen" *ngIf="!gameStarted && !gameEnded">
            <h2>Level {{ currentLevel.id }} - {{ currentLevel.name }}</h2>
            <p [innerHTML]="getSafeDescription()"></p>
            <br />
            <button class="sparkle-button" (click)="startGame()">▶ Start Game</button>
        </div>

        <!-- game screen -->
        <div class="game-screen" [class.active]="gameStarted" [class.ending]="gameEnded" *ngIf="gameStarted">
            <h3 *ngIf="currentLevel.showScore" class="score">Score: {{ levelService.getScore() }}</h3>
            
            <app-clock *ngIf="gameStarted" [duration]="levelService.getGameDuration(currentLevel)"></app-clock>
            
            <div class="balloon-container">
                <div *ngFor="let item of balloons" [class]="item.className" [attr.data-id]="item.id"
                    [ngStyle]="item.style" (click)="popBalloon(item)">

                    <span *ngIf="currentLevel?.getBalloonBadge(item)" class="balloon-badge"
                        [innerHTML]="getSafeHtml(currentLevel.getBalloonBadge?.(item))">
                    </span>

                </div>
            </div>

        </div>

        <!-- result screen -->
        <div class="game-screen result-screen" *ngIf="gameEnded">
            <h2>{{ gameResultMessage }}</h2>

            <div class="d-flex justify-content-center gap-3 mt-4">
                <button class="sparkle-button" (click)="restartGame()">
                    <i class="bi bi-arrow-clockwise"></i> Retry
                </button>

                <button *ngIf="canAdvance" class="sparkle-button" (click)="nextLevel()">
                    <i class="bi bi-arrow-right-circle"></i> Next Level
                </button>
            </div>
        </div>
    </div>


</div>